body {
    background-color: #7965BF;
}
img {
    display: block;
    margin: 0 auto;
    width: 75%;
}
h1, h2, h3 {
    color: #664492;
    text-align: center;
}
#container {
    background-color: #916FBF;
    width: 95%;
    margin: 20px auto;
}

nav {
    background-color: #714EA0;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: #6E599F;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
    font-weight: bold;
    color: #F2D64B;
    border: 4px groove #916FBF;
    text-decoration-line: none;
}

nav li a:hover {
    background-color: #6C5CBD;
    color: #fff700;
    border: 4px groove #c5a8eb;
}

main {
    display: flex;
}

section, aside {
    border: 2px solid #714EA0;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

section {
    width: 70%;
}

aside {
    width: 20%;
}

.single_page {
    width:100%;
}

#main_img_resize {
    width:75%;
}

#lower_area {
    display: flex;
    width: 25%;
}
#lower_area img {
    width: 50%;
}
.col {
    border: 2px solid #714EA0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    background-color: #714EA0;
    text-align: center;
    padding: 40px 0;
    color: #F2D64B;
    font-weight: bold;
}

.button {
    display:block;
    width:100px;
    height:40px;
    background-color: #714EA0;
    color: #F2D64B;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    border: 4px solid #b995e7
}
.button:hover {
    background-color: #6C5CBD;
    color: #fff700;
    border: 4px groove #c5a8eb 
}

table {
    border: 4px solid #916FBF;
    margin: auto;
    size: 
}

table img {
    width:250px;
    height:10%;
}

td, tr {
    border: 4px double #c5a8eb;
    padding: 10px;
    margin: 10px;
}
